<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title id='name'>{{sitterInput.name}}</mat-card-title>
    <mat-card-subtitle id='hourlyWage'>Hourly wage: {{sitterInput.hourlyWage}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
  
  </mat-card-content>
  <mat-card-actions>
    <mat-expansion-panel>
      <mat-expansion-panel-header id='detailsPanel'>
        <mat-panel-title>
          Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p id='age'><b>Age:</b> {{calculateAge(sitterInput.birthDate)}}</p>
      <p id='address'><b>Address:</b> {{sitterInput.address}}</p>
      <p id='zipcodeCity'><b>Zipcode and city:</b> {{sitterInput.zipcode}}, {{sitterInput.city}}</p>
      <p id='noCriminalRecord'><b>Criminal Record:</b> {{noCriminalRecord}}</p>
      <p id='noChildRecord'><b>Inappropiate:</b> {{noChildRecord}}</p>
    </mat-expansion-panel>
    <button mat-button id="delete" (click)="deleteSitter(sitterInput)">Delete</button>
    <button mat-button id="edit" (click)="editSitter(sitterInput)">Edit</button>
  </mat-card-actions>
</mat-card>